{% load static %}
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-2 mt -2 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="{% static 'img/logo.png' %}" alt="logo img" style="height:100px">
        </a>
        <p class="text-muted">&copy; 2022</p>
      </div>
  
      <div class="col mb-3">
        <h5>Chuyển hướng</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url 'store:home' %}" class="nav-link p-0 text-muted">Trang chủ</a></li>
          <li class="nav-item mb-2"><a href="{% url 'store:cart' %}" class="nav-link p-0 text-muted">Giỏ hàng</a></li>
          <li class="nav-item mb-2"><a href="{% url 'store:checkout_info' %}" class="nav-link p-0 text-muted">Đơn hàng đã thanh toán</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        
      </div>
  
      <div class="col mb-3">
        <h5>Thông tin liên hệ</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><i class="fa fa-phone"><strong> 0346951507</strong></i></li>
          <li class="nav-item mb-2"><i class="fa fa-envelope"></i><strong> venh.ha@gmail.com</strong></li>
          <li class="nav-item mb-2"><i class="fa fa-map-marker"></i><strong> 01 Võ Văn Ngân</strong></li>
        </ul>
      </div>
  
      <div class="col mb-3">

      </div>
    </footer>
</div>