{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4 px-lg-0">
      <a class="navbar-brand" href="{% url 'store:home' %}">
        <img class="myImageClass" src="{% static 'img/logo400x200.png' %}" alt="logo img" height="80">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'store:home' %}">Home</a>
          </li>
          {% if user.username %}
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'store:edit_profile' %}">Tài khoản</a>
          </li>
          <li>
            <a class="nav-link fw-bold" href="{% url 'store:checkout_info' %}">Xem đơn hàng
              <span class="badge text-bg-info">{{user.username}}</span>
            </a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" action="" method="POST">
          {% csrf_token %}
          <input class="px-2" type="text" placeholder="Tìm kiếm" style="border-radius: 5px;">
          <button class="btn btn-success mx-2" type="submit" style="border-radius: 5px;">Search</button>
          <a href="{% url 'store:cart' %}" class="btn btn-outline-dark px-2" style="border-radius: 5px;">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">{{invoice.get_total_item}}</span>
          </a>

          <div class="ps-2">
            {% if user.username %}
              <a class="btn btn-danger" href="{% url 'store:logout' %}" style="border-radius: 5px;">Đăng xuất</a>
            {% else %}
              <a class="btn btn-success" href="{% url 'store:login' %}" style="border-radius: 5px;">Đăng nhập</a>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
<hr>