{% extends 'layouts/base.html' %}
{% block title %}<title>LOGIN PAGE</title>{% endblock %}

{% block content %}
  
    <div class="container card" style="width: 250px; padding:20px">
      <form method="POST">
        {% csrf_token %}
        {% for key, value in form.errors.items %}
            {{value}}
        {% endfor %}
        <p><label>Tài khoản:</label>{{form.username}}</p>
        <p><label>Mật khẩu:</label>{{form.password}}</p>
        <input type="hidden" name="next" value="/"/>
        <a class="btn btn-success rounded" href="{% url 'store:register' %}">Đăng ký</a>
        <input class="btn btn-success rounded" type="submit" value="Đăng nhập"/>
        
      </form>
    </div>
{% endblock content %}

<!-- ========== Start test ========== -->
{% comment %}<hr>
<div class="card">
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="next" value="/"/>
    <button type="submit">Login</button>
  </form>
</div>{% endcomment %}

<!-- ========== End test ========== -->