{% extends 'layouts/base.html' %}
{% block title %}<title>LOGIN PAGE</title>{% endblock %}

{% block content %}
  <center class="pt-5">
    <form method="POST">
      {% csrf_token %}
      {% for key, value in form.errors.items %}
          {{value}}
      {% endfor %}
      <p><label>Tài khoản:</label>{{form.username}}</p>
      <p><label>Mật khẩu:</label>{{form.password}}</p>
      <input type="hidden" name="next" value="/"/>
      <input class="btn btn-success" type="submit" value="Đăng nhập"/>
      <a class="btn btn-success" href="{% url 'store:register' %}">Đăng ký</a>
    </form>
  </center>
  
  <!-- ========== Start test ========== -->
  <hr>
  <div class="card">
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="hidden" name="next" value="/"/>
      <button type="submit">Login</button>
    </form>
  </div>
  
  <!-- ========== End test ========== -->
  
{% endblock content %}