{% extends 'layouts/base.html' %} {% load static %} {% load humanize %} 

{% block content %}
<div class="row">
  <a class="btn btn-outline-dark" href="{% url 'store:cart' %}"
    >&#x2190; Quay về giỏ hàng</a
  >
  {% if user.username %} {% if orders %}
  <div class="col-lg-6">
    <div class="container box-element">
      <form action="{% url 'store:checkout_submit' %}" method="POST">
        {% csrf_token %}
        <h2 class="text-center">Thông tin giao nhận</h2>
        <div class="mb-3 mt-3">
          <label for="ship_addr" class="form-label">Địa chỉ nhận hàng:</label>
          <input
            id="ship_addr" name="ship_addr" value="{{invoice.cusID.cus_addr}}" type="text"
            class="form-control"
            placeholder="Nhập địa chỉ nhận hàng"
          />
        </div>
        <input checked disabled type="radio" class="form-check-input" id="payment_method"/>
        <label for="payment_method">Thanh toán khi nhận hàng</label>
        <br>
        <br>
        <input type="hidden" name="iID" value="{{invoice.iID}}" />
        <button type="submit" class="btn btn-primary">Đặt hàng</button>
      </form>
    </div>
  </div>
  {% else %}
  <div class="col-lg-6">
    <div class="alert alert-danger" role="alert">
      Giỏ hàng của bạn đang trống
      <a href="{% url 'store:home' %}" class="alert-link">quay lại</a> để mua
      hàng!
    </div>
  </div>
  {% endif %}
  <div class="col-lg-6">
    <div class="box-element">
      <p>Số lượng sản phẩm: <strong>{{invoice.get_total_item}}</strong></p>
      <p>Tổng cộng: <strong>{{invoice.get_total_price|intcomma}}đ</strong></p>
      <div class="cart-row">
        <div style="flex: 2"><img class="row-image" src="" /></div>
        <div style="flex: 2">
          <p>Tên sách</p>
        </div>
        <div style="flex: 1">
          <p>Giá</p>
        </div>
        <div style="flex: 1">
          <p>Số lượng</p>
        </div>
      </div>

      {% for i in orders %}
      <div class="cart-row">
        <div style="flex: 2">
          <img class="row-image" src="{{ i.pID.book_img.url}}" />
        </div>
        <div style="flex: 2">
          <p>{{i.pID.book_name}}</p>
        </div>
        <div style="flex: 1">
          <p>{{i.pID.book_price|intcomma}}đ</p>
        </div>
        <div style="flex: 1">
          <p>{{i.quantity}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- ========== Start Thông báo cho khách nếu chưa đăng nhập ========== -->
  {% else %}
  <div class="alert alert-danger" role="alert">
    Bạn cần
    <a href="{% url 'store:login' %}" class="alert-link">đăng nhập</a> hoặc
    <a href="{% url 'store:register' %}" class="alert-link">đăng ký</a> để mua
    hàng!
  </div>
  {% endif %}
  <!-- ========== End Thông báo cho khách nếu chưa đăng nhập ========== -->
</div>

{% endblock content %}
