{% extends 'layouts/base.html' %} {% load static %} 
{% block content %}
<h1 class="text-center">Tình trạng đơn hàng</h1>

<div class="container">
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Chi tiết đơn</th>
                    <th scope="col">Ngày thanh toán</th>
                    <th scope="col">Địa chỉ giao hàng</th>
                    <th scope="col">Tình trạng</th>
                    <th scope="col">Tổng đơn hàng</th>
                </tr>
            </thead>
            <tbody>
                {% for i in invoice %}
                <tr class="">
                    <td scope="row"><a href="{{ i.get_absolute_url }}">Xem thêm</a></td>
                    <td>{{ i.get_date_checkout }}</td>
                    <td>{{i.ship_addr}}</td>
                    <td>{% if i.status %}Đã giao hàng{% else %}Đang xử lí{% endif %}</td>
                    <td>{{ i.get_total_price }} đ</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}